/*标签*/
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
select,
button,
fieldset,
legend,
img,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
pre,
blockquote {
  margin: 0;
  padding: 0;
}
html {
  color: #333;
  background: #fff;
  font-size: .14rem;
}
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: .14rem;
  font-family: microsoft yahei, SimSun, Verdana, Arial, sans-serif;
}
img,
fieldset {
  border: 0;
  vertical-align: middle;
}
textarea {
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}
li {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #628828;
}
a:focus {
  outline: none;
}
/*位置*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*字体大小*/
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 16px;
}
.f20 {
  font-size: 18px;
}
/*内容宽度*/
.w1200 {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}
.wrap {
  width: 100%;
  min-width: 100%;
  max-width: 750px;
  margin: 0;
}
/*清理浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
.main {
  padding-bottom: .5rem;
}
/*头部*/
header {
  position: fixed;
  height: 1rem;
  line-height: 1rem;
  background: url(../images/headBg.png) left top;
  z-index: 4000;
}
header .mobilelogo img {
  width: 1.47rem;
}
header .linkbtn {
  display: inline-block;
  width: 2rem;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  color: #fff;
  font-size: .3rem;
  border-radius: .1rem;
  margin: .2rem auto .25rem .8rem;
  background-color: #01AAED;
}
header .navbtn {
  width: .48rem;
  height: .48rem;
  margin-top: .26rem;
}
header .navwrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 1rem;
  background: url(../images/headBg.png) left top;
  z-index: 4000;
}
header .navwrap .nav {
  text-align: right;
  padding: 0 3%;
}
header .navwrap .nav li {
  border-bottom: 1px solid #fff;
}
header .navwrap .nav li a {
  display: block;
  color: #fff;
  font-size: .3rem;
}
header .navwrap .subnav {
  display: none;
}
header .navwrap .subnav a {
  display: block;
  padding-right: 10%;
  border-top: 1px solid #fff;
}
header .navwrap .subnav a:first-child {
  border-top: none;
}
/*底部*/
footer {
  width: 100%;
  background: url(../images/blackbg.png) left top;
}
.copyright {
  text-align: center;
  line-height: .45rem;
  padding: 0 3%;
  font-size: .24rem;
  color: #fff;
  border-top: 1px solid #ddd;
}
.foorinner {
  padding-top: 35px;
  padding-bottom: 10px;
}
.footleft {
  width: 100%;
}
.footleft .contactnotice {
  color: #fff;
  font-size: .3rem;
  margin-bottom: 15px;
}
.footleft .formitem {
  margin-bottom: 15px;
}
.footleft .formitem input {
  width: 96%;
  height: 40px;
  line-height: 40px;
  font-size: .24rem;
  padding: 0 2%;
  border: 1px solid #707682;
  outline: none;
}
.footleft .submitbtn {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #01AAED;
  border: none;
}
.footright {
  width: 100%;
}
.footright .messageul {
  margin-top: 35px;
}
.footright .messageul li {
  color: #fff!important;
  margin-bottom: .2rem;
  font-size: .24rem;
  line-height: 25px;
}
.footright .messageul li > img {
  width: .5rem;
}
.footright .messageul li span {
  margin-left: 10px;
}
/*右侧导航*/
.rightlink {
  position: fixed;
  right: 0;
  top: 60%;
  z-index: 3000;
}
.rightlink li {
  width: .8rem;
  height: .8rem;
  margin-bottom: .1rem;
  position: relative;
}
.rightlink li a {
  display: block;
  width: .8rem;
  height: .8rem;
  text-align: center;
}
.rightlink li .phonenum {
  position: absolute;
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  font-size: .24rem;
  text-align: center;
  top: 0;
  right: 1rem;
  color: #fff;
  transition: opacity 1s;
  background-color: #01AAED;
  opacity: 0;
}
.rightlink li .phonenum.on {
  opacity: 1;
  transition-duration: .5s;
}
.rightlink li .erweimaimg {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  right: 1.1rem;
  top: 0;
  transition: opacity 1s;
  opacity: 0;
}
.rightlink li .erweimaimg.on {
  opacity: 1;
  transition-duration: .5s;
}
.rightlink li .phonelink {
  background: #f0f0f0 url(../images/righticon1.png) center 0.3rem no-repeat;
  background-size: .32rem;
}
.rightlink li .erweimalink {
  background: #f0f0f0 url(../images/righticon2.png) center 0.28rem no-repeat;
  background-size: .32rem;
}
.rightlink li .gotoplink {
  background: #f0f0f0 url(../images/righticon3.png) center 0.25rem no-repeat;
  background-size: .32rem;
}
/*分页*/
.page {
  padding: 50px 0 30px 0;
  text-align: center;
}
.page .pageList {
  text-align: center;
  margin: 0 auto;
  font-size: 0;
}
.page .pageList a {
  display: inline-block;
  font-size: 12px;
  padding: 5px 9px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  color: #999;
  margin: 0 5px;
  margin-top: 2px;
}
.page .pageList a:hover,
.page .pageList .active {
  background-color: #01AAED;
  color: #fff;
  border-color: #01AAED;
}
.page .pageList .prev {
  height: 17px;
}
.page .pageList .next {
  width: 12px;
  height: 17px;
}
.page .pageList input {
  font-size: 12px;
  border: none;
  background-color: #f1f1f1;
  padding: 8px 9px;
  margin-left: 12px;
}
.page .pageList .PageIndex {
  width: 32px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background: #fff;
  border: 1px solid #dfdfdf;
  display: inline-block;
  margin-top: 2px;
  padding: 0;
}
.page .pageList .goToPage {
  font-size: 12px;
  display: inline-block;
  padding: 0 3px 0 8px;
  color: #999;
}
/*信息提交成功提示*/
.popwrap {
  display: none;
  position: fixed;
  bottom: 0rem;
  left: 0;
  width: 100%;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  color: #fff;
  background: url(../images/headBg.png) left top;
  z-index: 5000;
}
