/*招聘信息*/
.recruitbanner {
  padding: .1px;
  height: 5rem;
  background: url(../images/recruitbanner.jpg) center no-repeat;
  background-size: cover;
}
.recruitbanner .topbanner {
  font-size: .8rem;
  margin-top: 1.5rem;
  text-align: center;
}
.recruitbanner .bottombanner {
  width: 100%;
  margin-top: .2rem;
  font-size: .25rem;
  line-height: .5rem;
  text-align: center;
}
.recruitul .leftpart {
  width: 100%;
}
.recruitul .leftpart .recruitname {
  display: block;
  font-size: .5rem;
  color: #fff;
  text-align: center;
  margin: 158px auto;
}
.recruitul .rightpart {
  width: 100%;
}
.recruitul .rightpart .togolist p {
  line-height: .6rem;
  text-indent: .15rem;
  font-size: .24rem;
}
.recruitul .rightpart .title {
  font-weight: bold;
  font-size: .35rem;
}
/*新闻列表*/
.newmain {
  padding-top: 1rem;
}
.newtitle {
  width: 100%;
  font-size: .5rem;
  text-align: center;
  padding: .3rem 0;
  border-bottom: 1px solid #666;
}
.newsList li {
  padding: .4rem 0;
  border-bottom: 1px solid #ccc;
}
.newsList li .lefttip {
  font-size: .32rem;
}
.newsList li .newleft {
  display: table-cell;
  width: 25%;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}
.newsList li .newleft img {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  -moz-transition: transform .8s;
  -o-transition: transform .8s;
  -webkit-transition: transform .8s;
  transition: transform .8s;
}
.newsList li .newleft img:hover {
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  -moz-transition: opacity .8s, transform .8s;
  -o-transition: opacity .8s, transform .8s;
  transition: opacity .8s, transform .8s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.newsList li .newright {
  width: 46%;
  padding: .1rem .2rem;
}
.newsList li .newright:hover a {
  color: #01AAED;
}
.newsList li .newright .newname {
  display: block;
  height: .5rem;
  font-size: .35rem;
  line-height: .5rem;
  color: #01AAED;
  overflow: hidden;
}
.newsList li .newright .newdescribe {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.newsList li .newmore {
  display: inline-block;
  border: 1px solid #000;
  font-size: .24rem;
  padding: .015rem .1rem;
  margin-top: .4rem;
}
.newsList li .newmore:hover {
  color: #01AAED;
  border-color: #01AAED;
}
.newsList .noimgli .newright {
  width: 70%;
}
.newsList .noimgli .newright .newdescribe {
  margin-top: .2rem;
  height: 1.2rem;
  line-height: .4rem;
  -webkit-line-clamp: 3;
}
.newsList .noimgli .newmore {
  margin-top: 1.1rem;
}
.mobilepage {
  margin-top: .3rem;
}
.mobilepage a {
  display: inline-block;
  padding: .1rem .3rem;
  font-size: .3rem;
  border: 1px solid #333;
  color: #333;
}
.mobilepage .unable {
  color: #ddd;
  border-color: #ddd;
}
/*新闻详情页面*/
.newout {
  padding: .4rem 0 .2rem 0;
  font-size: .26rem;
  border-bottom: 1px solid #f0eded;
}
.newout .lefttip {
  font-size: .24rem;
}
.newout .hadsee {
  margin-left: 20px;
}
.newdetail {
  padding: .3rem 0 .2rem 0;
}
.newdetail .newtite {
  font-size: .5rem;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  overflow: hidden;
  padding: .1rem 0;
}
.newdetail .detaildescribe {
  margin-top: .4rem;
  padding: .2rem;
  font-size: .26rem;
  line-height: .45rem;
  background-color: #efefef;
}
.newdetail .newcontent {
  margin-top: .15rem;
}
.newdetail .newcontent p {
  line-height: .45rem;
  font-size: .24rem;
}
/*关于我们页面*/
.aboutbanner {
  height: 5rem;
  background: url(../images/aboutbanner.png) center no-repeat;
  background-size: cover;
}
.abouttitle {
  position: relative;
  width: 100%;
  border-top: 2px solid #ddd;
  margin: .8rem auto;
}
.abouttitle span {
  position: absolute;
  line-height: 40px;
  top: -20px;
  left: 50%;
  margin-left: -1.1rem;
  font-size: .4rem;
  font-weight: bold;
  display: inline;
  padding: 0 .5rem;
  background-color: #fff;
}
.contentpart p {
  line-height: .5rem;
  font-size: .24rem;
}
.contentpart img {
  max-width: 100%;
  display: block;
  margin: .2rem 0;
}
.contentpart .leftdes {
  margin: 0 auto;
  text-indent: 25px;
}
.contentpart .rightimg {
  width: auto;
  display: block;
  margin: 0 auto;
}
.companyul li {
  width: 100%;
  margin-left: 1%;
  box-shadow: 0 3px 20px #d2d2d2;
  padding: 50px 0;
  border-radius: 10px;
  margin-top: .8rem;
}
.companyul li:first-child {
  margin-left: 0;
  margin-top: 0;
}
.companyul li img {
  display: block;
  border-radius: 50%;
  margin: 20px auto;
}
.companyul li p {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
/*合作加盟*/
.toptext {
  font-size: .5rem;
  color: #666;
  padding: .5rem 0;
  text-align: center;
}
.topdes .topright li {
  font-size: 16px;
  margin: .8rem 0;
}
.topdes .topright .numbers {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #FE7A5D;
  margin-right: 10px;
}
.bottomdes li {
  margin-bottom: 19px;
  box-sizing: border-box;
}
.bottomdes li .title {
  font-size: .3rem;
  color: #ff6800;
  margin-bottom: .12rem;
}
.bottomdes li > p {
  font-size: .24rem;
}
.topleft {
  width: 100%;
}
.topleft img {
  width: 100%;
}
/*合作加盟banner*/
.bannerwrap {
  height: 5rem;
  background: url(../images/cooperate.jpg) center no-repeat;
}
.bannertext {
  text-align: center;
}
.bannertext .texts {
  font-size: .5rem;
  color: #fff;
  padding: 1.7rem 0 0.1rem;
}
.bannertext .bannerbtn {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: .3rem;
  border-radius: 5px;
  margin: .1rem auto;
  background-color: #01AAED;
}
.bannertext .bannerphone {
  color: #fff;
  font-size: 16px;
  margin-top: .3rem;
}
/*首页样式*/
.indexbanner {
  position: relative;
  height: 4rem;
}
.indexbanner .indexbanner1 {
  height: 4rem;
  background: url(../images/indexbanner1.jpg) center no-repeat;
  padding: .1px;
  background-size: cover;
}
.indexbanner .indexbanner2 {
  height: 4rem;
  background: url(../images/indexbanner2.jpg) center no-repeat;
  padding: .1px;
  background-size: cover;
}
.indexbanner .indexbanner3 {
  height: 4rem;
  background: url(../images/indexbanner3.jpg) center no-repeat;
  padding: .1px;
  background-size: cover;
}
.indexbanner .bannertext {
  text-align: center;
  color: #fff;
  font-size: .35rem;
  margin-top: 2rem;
}
.slidesjs-pagination {
  position: absolute;
  bottom: .25rem;
  left: 50%;
  text-align: center;
  margin-left: -0.45rem;
  z-index: 20;
}
.slidesjs-pagination li {
  display: inline-block;
  width: .3rem;
  height: .3rem;
}
.slidesjs-pagination li a {
  display: block;
  width: .3rem;
  height: .3rem;
  text-align: center;
  line-height: .3rem;
  font-size: 0;
  background: url(../images/iconSlide.png) center no-repeat;
  background-size: .12rem;
}
.slidesjs-pagination li a.active {
  background: url(../images/iconSlideOn.png) center no-repeat;
  background-size: .12rem;
}
.indexpart1 {
  padding-top: .3rem;
  padding-bottom: .8rem;
}
.parttitle {
  font-size: .6rem;
  text-align: center;
  padding: .2rem 0;
  color: #515151;
}



.partul {
  overflow: hidden;
}
.partul li {
  float: left;
  font-size: .24rem;
  padding: 1rem 1.5rem;
}
.partul .partinner {
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  background-color: #01AAED;
  border-radius: 200px;
}
.partul .parttext {
  font-size: 26px;
  padding-top: 15px;
}

.partul .parttext > a{
  color:#ffffff;
}

.partul .parttext > a:hover{
  color:#ffffff;
  border-bottom:#ffffff  1px  solid;
  line-height: 25px;
}


.partul .forwho {
  line-height: 25px;
}
.partul .bottomtext {
  text-align: left;
  padding: 0 35px 0 44px;
}
.partul .bottomtext span {
  display: block;
  line-height: 25px;
}
.indexpart2 {
  background-color: #ececec;
  padding-bottom: 50px;
}
.codeul li {
  float: left;
  width: 100%;
}
.codeul .codeinner {
  width: 80%;
  margin: 0 auto;
  margin-top: .5rem;
  text-align: center;
}
.codeul .codetext {
  font-size: .5rem;
  line-height: 40px;
}
.codeul .codeparts {
  margin: .2rem 0;
}
.codeul .codeparts .parts {
  color: #fff;
  font-size: .28rem;
  padding: .5rem 0;
  border-bottom: 1px solid #fff;
  background-color: #01AAED;
}
.codeul .codeparts .orangebg {
  background-color: #EB7221;
}
.codeul .bottombtn {
  border: 1px solid #393D49;
  padding: 10px 0;
  font-size: .24rem;
  border-radius: 5px;
  margin-top: .3rem;
}
/*产品页面样式*/
.probannerwrap {
  height: 5rem;
  background: url(../images/probanner.jpg) center no-repeat;
  background-size: cover;
}
.probannerwrap .probannertext {
  text-align: center;
  color: #fff;
  font-size: .3rem;
  margin-top: 1.8rem;
}
.probannerwrap .probannertext span {
  font-size: .6rem;
  margin-right: .3rem;
}
.probannerwrap .prolinkbtn {
  float: unset;
  display: block;
  color: #fff;
  width: 2.3rem;
  height: .8rem;
  font-size: .3rem;
  line-height: .8rem;
  text-align: center;
  border-radius: 10px;
  background: #fa6a0b;
  margin: 0 auto;
  margin-top: .4rem;
}
.edition1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.editionleft {
  width: 100%;
  height: auto;
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.editionleft span {
  display: block;
  font-size: .4rem;
  color: #FF5722;
  text-align: center;
  margin-top: .2rem;
}
.editionright {
  width: 100%;
  height: auto;
  background: none;
  padding-left: 0;
  margin-top: .6rem;
}
.editionright li {
  margin-bottom: .3rem;
}
.editionright li:first-child {
  margin-top: 0;
}
.editionright li span {
  display: inline-block;
  padding: .1rem .12rem;
  border-radius: 5px;
  font-size: .2rem;
  color: #fff;
  margin: 0 0 .1rem 0;
}
.blackbg {
  background-color: #123260;
}
.orangebg {
  background-color: #eb7221;
}
.edition2 {
  width: 100%;
  position: relative;
  margin: .2rem 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
}
.edtion2left {
  width: 100%;
  height: auto;
  padding-left: 0;
  background: none;
}
.edtion2left .ehition2ul {
  padding-top: 1rem;
  margin-left: 0;
}
.edtion2left .ehition2ul li {
  margin-bottom: .25rem;
}
.edtion2left .ehition2ul li span {
  display: inline-block;
  padding: .1rem .05rem;
  border-radius: 5px;
  font-size: .24rem;
  color: #fff;
  margin: 0;
}
.edtion2left .ehition2ul li .null {
  width: 1.14rem;
  text-align: center;
  margin: 0 .02rem;
}
.edtion2left .ehition2ul li .whitebg {
  width: 1.14rem;
  text-align: center;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  margin: 0;
}
.edtion2left .ehition2ul li .orangebg {
  width: 1.14rem;
  text-align: center;
  margin: 0;
  border: 1px solid #eb7221;
}
.edtion2right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-top: .1rem;
  background: none;
}
.edtion2right span {
  display: block;
  font-size: .5rem;
  color: #FF5722;
  text-align: center;
  margin-top: 0;
}
.editionleft.editionleft3 {
  width: 100%;
  height: auto;
  background: none;
}
.editionright.editionright3 {
  width: 100%;
  height: auto;
  margin-top: .5rem;
  background: none;
}
.editionright.editionright3 li {
  margin-bottom: .3rem;
  float: left;
  width: 1.6rem;
  margin-left: .1rem;
}
.editionright.editionright3 li:first-child {
  margin-top: 0;
  margin-left: 0;
}
.editionright.editionright3 li span {
  margin: 0 0 .25rem 0 ;
  padding: .1rem .15rem;
  font-size: .24rem;
}
.protext {
  font-size: .5rem;
  text-align: center;
  padding: .4rem 0;
  color: #393D49;
}
.starwrap > li {
  margin: .5rem auto;
}
.starwrap .bluebg {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 0 auto;
  background-color: #FF5722;
}
.starwrap .innerbg {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  bottom: 15px;
}
.starwrap .lititle {
  color: #FF5722;
  font-size: 24px;
  font-weight: bold;
  margin-top: 45px;
}
.starwrap .texts {
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}
.textdeswrap {
  margin-top: .4rem;
}
.textdeswrap li .destitle {
  font-size: .5rem;
  color: #01AAED;
}
.textdeswrap li .destexts {
  line-height: .5rem;
  padding: .2rem 0;
  font-size: .25rem;
  color: #393D49;
}
.producttable {
  width: 100%;
  text-align: center;
  font-size: .25rem;
  border: 1px solid #ddd;
}
.producttable tr th {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: .35rem;
  width: 33%;
  border: 1px solid #ddd;
  background-color: #eee;
}
.producttable tr td {
  border: 1px solid #ddd;
  padding: 8px 0;
  color: #fff;
  background-color: #01AAED;
}
.producttable tr td img {
  width: .32rem;
  height: .32rem;
}
