<!--文档 start-->
<meta charset="utf-8"><!-- 声明文档使用的字符编码 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--让用户的IE浏览器外不变，但用户在浏览网页时，实际上使用的是Google Chrome浏览器内核，而且支持IE6、7、8等多个版本的IE浏览器 -->
<meta http-equiv="content-type" content="text/html; charset=utf-8"><!--网页编码 -->
<!--文档 end-->

<!--去除缓存 start-->
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="">
<!--去除缓存 end-->

<!--SEO start-->
<meta name="description" content="{if condition="isset($description)"}{$description}{else/}{web name='description' /}{/if}" /><!-- 页面描述,不超过150个字符 -->
<meta name="keywords" content="{if condition="isset($keywords)"}{$keywords}{else/}{web name='keywords' /}{/if}" /><!-- 页面关键词 -->
<meta name="author" content="{web name='name' /},{web name='email' /}" /><!-- 网页作者 -->
<meta name="robots" content="index,follow" /><!-- 搜索引擎抓取,可以抓取本页，而且可以顺着本页继续索引别的链接 -->
<!--SEO end-->

<!--美化 start-->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/sitemap.xml" /> <!-- 添加 RSS 订阅 -->
<link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> <!-- 添加 favicon icon -->
<!-- 美化 end -->

<!-- 为移动设备添加 viewport -->
<meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"> <!-- `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz -->

<!-- iOS 设备 begin -->
<meta name="apple-mobile-web-app-title" content="{web name='title' /}"> <!-- 添加到主屏后的标题（iOS 6 新增） -->
<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- 是否启用 WebApp 全屏模式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> <!-- 设置状态栏的背景颜色，只有在 `"apple-mobile-web-app-capable" content="yes"` 时生效 -->
<meta name="format-detection" content="telephone=no" /> <!-- 禁止数字识自动别为电话号码 -->
<!-- iOS 设备 end -->

<!-- CSS -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__css/normalize.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__css/common.css?v={:get_system_value('site_version')}">
<link rel="stylesheet" type="text/css" href="__PUBLIC__css/base.css?v={:get_system_value('site_version')}">
<link rel="stylesheet" type="text/css" href="__PUBLIC__css/style.css?v={:get_system_value('site_version')}">
<!-- JS -->
<script type="text/javascript" src="__PUBLIC__js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__js/jquery.slides.min.js"></script>
<script type="text/javascript" src="__PUBLIC__js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__js/rem.js"></script>