{if condition="$cate['ename'] eq 'index'" }
<div class="indexbanner">
	{banner cid='$cid'}
	<div class="bannerwrap indexbanner{$key+1}" style="background: url({$banner.img}) center no-repeat;">
		<div class="bannertext w1200">{$banner.title}&nbsp;&nbsp;{$banner.childtitle}</div>
	</div>
	{/banner}
</div>
{/if}

{if condition="in_array($cate['ename'],['product','fixture','www','draw','marketing'])"}
{banner cid='$cid'}
<div class="probannerwrap"  style="background: url({$banner.img}) center no-repeat;">
	<div class="w1200 clearfix">
		<div class="probannertext">
			<span>{$banner.title}</span> {$banner.childtitle}
		</div>
		<a class="prolinkbtn linkbtn fr" href="javascript:;" target="_blank">{$banner.btntitle}</a>
	</div>
</div>
{/banner}
{/if}

{if condition="$cate['ename'] eq 'join'" }
{banner cid='$cid'}
<div class="bannerwrap" style="background: url({$banner.img}) center no-repeat;">
	<div class="bannertext w1200">
		<p class="texts">{$banner.title}</p>
		<a href="#btnlink" class="bannerbtn">{$banner.btntitle}</a>
		<p class="bannerphone"><img src="__PUBLIC__images/bannerphone.png">&nbsp;{web name='tel' /}</p>
	</div>
</div>
{/banner}
{/if}

{if condition="$cate['ename'] eq 'recruitment'" }
{banner cid='$cid'}
<div class="recruitbanner" style="background: url({$banner.img}) center no-repeat;">
	<div class="w1200">
		<div class="topbanner">{$banner.title}</div>
		<div class="bottombanner">{$banner.childtitle} <br><span>{$banner.childatitle}</span></div>
	</div>
</div>
{/banner}
{/if}

{if condition="$cate['ename'] eq 'news'" }
{banner cid='$cid'}
<div class="recruitbanner" style="background: url({$banner.img}) center no-repeat;">
	<div class="w1200">
		<div class="topbanner">{$banner.title}</div>
		<div class="bottombanner">{$banner.childtitle} <br><span>{$banner.childatitle}</span></div>
	</div>
</div>
{/banner}
{/if}

{if condition="$cate['ename'] eq 'about'" }
{banner cid='$cid'}
<div class="aboutbanner" style="background: url({$banner.img}) center no-repeat;">
	<div class="bannertext w1200">
		<p class="texts">{$banner.title}</p>
		<a href="#btnlink" class="bannerbtn" target="_blank">{$banner.btntitle}</a>
		<p class="bannerphone"><img src="__PUBLIC__images/bannerphone.png">&nbsp;{web name='tel' /}</p>
	</div>
</div>
{/banner}
{/if}
