<header class="w1200 clearfix">
	<a href="{:url('index/index')}" class="mobilelogo fl"><img class="logo" src="__PUBLIC__images/logo.png"></a>
	{nav pid=''}{if condition="$nav.position eq 3"}
	<a href="javascript:;" class="linkbtn fl">{$nav.name}</a>
	{/if}{/nav}
	<div class="mobilenav">
		<img src="__PUBLIC__images/menu.png" class="navbtn fr">
	</div>
	<div class="navwrap">
		<ul class="nav">
			<li {if condition="$cid eq 0"} class="on" {/if}><a href="{:url('index/index')}">首页</a></li>
			{nav pid='' type=''}{if condition="$nav.position eq 1"}
			<li{if condition="($cid eq $nav.id) or (($cid eq 51) and ($nav.id eq 46))"} class="on" {/if}>
				<a href="javascript:;">{$nav.name}</a>
				<div class="subnav">
					{nav pid='$nav[id]'}
					<a href="{$nav.url}">{$nav.name}</a>
					{/nav}
				</div>
			</li>
			{/nav}
		</ul>
	</div>
</header>