<p class="newtitle w1200">新闻中心</p>
<ul class="newsList w1200">
	{article cid='$cid' pagesize='15' orderby="publishtime desc"}
	{if condition="$article.litpic neq ''"}
	<li class="clearfix">
		<a href="{$article.url}" class="newleft fl">
			<img src="{$article.litpic}">
		</a>
		<div class="newright fl">
			<a href="{$article.url}" class="newname" title="{$article.title}”">{$article.title}</a>
			<p class="newdescribe">{$article.description}</p>
		</div>
		<a href="{$article.url}" class="newmore fl">了解详情 ></a>
	</li>
    {else/}
	<li class="noimgli clearfix">
		<div class="newright fl">
			<a href="{$article.url}" class="newname" title="{$article.title}">{$article.title}</a>
			<p class="newdescribe">{$article.description}</p>
		</div>
		<a href="{$article.url}" class="newmore fl">了解详情 ></a>
	</li>
	{/if}
	{/article}
</ul>
<!--分页-->
{include file="Public/page"/}